/* Coolors Exported Palette - coolors.co/393d3f-437f97-f2bb05-ff8552-071e22
 *
 * Black Olive
 *   rgba(57, 61, 63, 1)
 * Queen Blue
 *   rgba(67, 127, 151, 1)
 * Selective Yellow
 *   rgba(242, 187, 5, 1)
 * Coral
 *     rgba(255, 133, 82, 1)
 * Dark Jungle Green
 *     rgba(7, 30, 34, 1)
 *
 */




html {
  background: url(../img/6794800763_72896eacd3_o.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  background: rgba(255, 255, 255, 0.75);
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 2px;
}

i {
  color: rgba(242, 187, 5, 1);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(7, 30, 34, 1));
}
